@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.bounce {
    background: #b152b1;
}

.elastic {
    background: #e4e265;
}

.expo {
    background: #6ccad1;
}

.power {
    background: #5db152;
}

.sine {
    background: #b15262;
}

.steps {
    background: #df9149;
}