@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#main {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    font-family: 'Anton', Impact, sans-serif;

    position: fixed;
    top: 0;

    .logo {
        width: 50px;
        height: 50px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .menu .menu-link {
        color: #FFFFFF;
        text-decoration: none;

        text-transform: uppercase;

        font-weight: 400;
    }

    .btn {
        background-color: #FFFFFF;
        text-transform: uppercase;
        font-family: 'Anton', Impact, sans-serif;
        padding: 5px 10px;
        color: #0a0a11;
        letter-spacing: 0.03cm;
        font-size: 16px;

        border-radius: 5px;
        border: none;
    }
}

  #page {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        
        max-width: 55%;
        margin-inline: auto;

        > h1 {
            color: #FFFFFF;
            font-size: 180px;
            font-family: 'Anton', Impact, sans-serif;
            text-transform: uppercase;
            line-height: 180px;
            text-align: center;

            padding-top: 180px;
        }

        .heart {
            position: absolute;
            width: 150px;
            height: 150px;
            transform: translate(135%, 60%);
        }
    }
