* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.ball {
    width: 50px;
    height: 50px;
    background: #df8493;
    border-radius: 50%;
    position: relative;
}

.shadow {
    width: 50px;
    height: 10px;
    background: #707070;
    border-radius: 60%;
}