@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    position: fixed;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

header .logo {
    width: 50px;
    height: 50px;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .menu .menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    transition: all 0.3 linear;
}

header .menu .menu-link:hover {
    text-decoration: underline;
}

header .btn {
    padding: 12px 24px;
    background: #9167b8;
    color: #FFFFFF;
    border: none;

    font-size: 18px;
    border-radius: 50px;
}

#page {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 120px;
}

.hero-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-heading {
    
    h6 {
        font-size: 20px;
        font-weight: 800;
    }

    h1 {
        font-size: 120px;
        width: 1140px;

        span {
            color: #9167b8;
            text-decoration: underline;
        }
    }
}

.image {
    width: 700px;
    position: relative;
    margin-inline: auto;

    img {
        width: 100%;
        position: absolute;
        top: -165px;
    }

    .btn-group {
        position: absolute;
        top: 345px;
        left: 130px;

        .portfolio-btn {
            padding: 15px 65px;
            background: #9167b8;
            color: #FFFFFF;
            border: none;
            border-radius: 50px;
            font-size: 22px;
            cursor: pointer;
        }

        .hire-btn {
            padding: 15px 65px;
            background: #FFFFFF;
            color: #000000;
            border: 2px solid #000000;
            border-radius: 50px;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

.left-side {
    position: absolute;
    bottom: 35px;
    left: 40px;

    h4 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        font-size: 18px;
        margin-top: 10px;
    }

    .keyboard {
        width: 175px;
        height: 125px;
    }
}
    